<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"> Appétit </div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['']"> Dashboard </a>
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/list-customers']"> Customers </a>
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/list-owners']"> Owners </a>
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/list-restaurants']"> Restaurants </a>
        <a class="list-group-item list-group-item-action bg-light"> Link1 </a>
        <a class="list-group-item list-group-item-action bg-light"> Link2 </a>
      </div>
    </div>

    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->

    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle"> Menu </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#"> Link1 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Link2 </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"> Action </a>
                <a class="dropdown-item" href="#"> Another action </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"> Something else here </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container mt-5">
        <div class="class row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <span class="title"> {{ title | uppercase }} </span>
                        <form class="mt-3" [formGroup]="customerForm" (ngSubmit)="updateCustomer()">
                            <div class="mb-3">
                                <input type="text" formControlName="_id" 
                                    class="form-control form-control-lg" placeholder="ID">
                                <div class="text-danger"
                                    *ngIf="customerForm.get('_id')?.hasError('required') && customerForm.get('_id')?.touched">
                                    <span>El id del customer és obligatori</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="text" formControlName="fullName" 
                                    class="form-control form-control-lg" placeholder="Full Name">
                                <div class="text-danger"
                                    *ngIf="customerForm.get('fullName')?.hasError('required') && customerForm.get('fullName')?.touched">
                                    <span>El nom del customer és obligatori</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="text" formControlName="customerName"
                                    class="form-control form-control-lg" placeholder="Customer Name">
                                <div class="text-danger"
                                    *ngIf="customerForm.get('customerName')?.hasError('required') && customerForm.get('customerName')?.touched">
                                    <span>El username del customer és obligatori</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="text" formControlName="email"
                                    class="form-control form-control-lg" placeholder="Email">
                                <div class="text-danger"
                                    *ngIf="customerForm.get('email')?.hasError('required') && customerForm.get('email')?.touched">
                                    <span>L'email del customer és obligatori</span>
                                 </div>
                            </div>
                            <div class="mb-3">
                                <button [routerLink]="['/list-customers']" class="btn btn-secondary btn-lg float-start">TORNAR</button>
                                <button type="submit" [disabled]="customerForm.invalid" class="btn btn-success btn-lg float-end">ACCEPTAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->