<div class="container mt-3">
    <div class="class row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title"> {{ title | uppercase }} </span>
                    <form class="mt-3" [formGroup]="customerForm" (ngSubmit)="addCustomer()">
                        <div class="mb-3">
                            <input type="text" formControlName="fullName" 
                                class="form-control form-control-lg" placeholder="Full Name">
                            <div class="text-danger"
                                *ngIf="customerForm.get('fullName')?.hasError('required') && customerForm.get('fullName')?.touched">
                                <span>El nom del customer és obligatori</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="customerName"
                                class="form-control form-control-lg" placeholder="Customer Name">
                            <div class="text-danger"
                                *ngIf="customerForm.get('customerName')?.hasError('required') && customerForm.get('customerName')?.touched">
                                <span>El username del customer és obligatori</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="email" name="email" ngModel email formControlName="email"
                                class="form-control form-control-lg" placeholder="Email">
                            <div class="text-danger"
                                *ngIf="customerForm.get('email')?.hasError('required') && customerForm.get('email')?.touched">
                                <span>L'email del customer és obligatori</span>
                            </div>
                        </div>
                        <div class="mb-3" *ngIf="customer?.fullName == null">
                            <input type="text" formControlName="password"
                                class="form-control form-control-lg" placeholder="Password">
                            <div class="text-danger"
                                *ngIf="customerForm.get('password')?.hasError('required') && customerForm.get('password')?.touched">
                                <span>El password del customer és obligatori</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button routerLink=".." class="btn btn-secondary btn-lg float-start"> BACK </button>
                            <button *ngIf="this._id !== null" (click)="deleteCustomer()" routerLink="/list-customers" class="btn btn-danger btn-lg float-mid"> DELETE </button>
                            <button type="submit" [disabled]="customerForm.invalid" class="btn btn-success btn-lg float-end"> CONFIRM </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
