<!-- <div class="container mt-3">
    <div class="class row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title"> {{ title | uppercase }} </span>
                    <form class="mt-3" [formGroup]="tasteForm" (ngSubmit)="addTaste()">
                        <div class="mb-3">
                            <input type="text" formControlName="tagName" 
                                class="form-control form-control-lg" placeholder="Taste Tag Name">
                            <div class="text-danger"
                                *ngIf="tasteForm.get('tagName')?.hasError('required') && tasteForm.get('tagName')?.touched">
                                <span> El nom del tag és obligatori </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="relevance" 
                                class="form-control form-control-lg" placeholder="Relevance">
                            <div class="text-danger"
                                *ngIf="tasteForm.get('relevance')?.hasError('required') && tasteForm.get('relevance')?.touched">
                                <span> El nom del customer és obligatori </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button [routerLink]="['/list-customers']" class="btn btn-secondary btn-lg float-start"> TORNAR </button>
                            <button type="submit" [disabled]="tasteForm.invalid" class="btn btn-success btn-lg float-end"> ACCEPTAR </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->
