<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"> Appétit </div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['']"> Dashboard </a>
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/list-customers']"> Customers </a>
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/list-owners']"> Owners </a>
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/list-restaurants']"> Restaurants </a>
        <a class="list-group-item list-group-item-action bg-light"> Tastes </a>
        <a class="list-group-item list-group-item-action bg-light"> Link2 </a>
      </div>
    </div>

    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->

    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="back" routerLink=".."> Back </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#"> Link1 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Link2 </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"> Action </a>
                <a class="dropdown-item" href="#"> Another action </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"> Something else here </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      
      <div class="mt-3"></div>
      <h1 class="title1 text-center"> {{ customer?.fullName }} </h1>
      

    <!-- CUSTOMERS -->

      <div class="container mt-3">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="card">
                    <div class="card-body text-center">
                        <span class="title"> {{ title | uppercase }} </span>
                        <table class="table table-sm mt-3">
                            <tbody>
                                <tr>
                                  <th scope="row"> Customer ID: </th>
                                  <td> {{ customer?._id }} </td>
                                </tr>
                                <tr>
                                    <th scope="row"> Full Name: </th>
                                    <td> {{ customer?.fullName }} </td>
                                  </tr>
                                  <tr>
                                    <th scope="row"> Customer Name: </th>
                                    <td> {{ customer?.customerName }} </td>
                                  </tr>
                                  <tr>
                                    <th scope="row"> Customer Email: </th>
                                    <td> {{ customer?.email }} </td>
                                  </tr>
                                  <tr>
                                    <th scope="row"> Creation Date: </th>
                                    <td> {{ customer?.creationDate | date }} </td>
                                  </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-success float-end" [routerLink]="['/list-customers', customer?._id, 'edit-customer']"> EDIT CUSTOMER </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TASTES -->

    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="card">
                    <div class="card-body text-center">
                        <span class="title"> LIST OF TASTES </span>
                        <table class="table table-sm mt-3">
                            <thead>
                                <tr>
                                  <th scope="col"> Taste </th>
                                  <th scope="col"> Relevance </th>
                                  <th scope="col"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let taste of customer?.listTastes">
                                  <td> {{ taste.tagName }} </td>
                                  <td> {{ taste.relevance }} </td>
                                  <td>
                                    <i [routerLink]="['/list-customers', customer?._id, taste._id, 'edit-taste']" class="fa-solid fa-pen-to-square text-primary"> Edit </i>
                                  </td>
                                </tr>
                              </tbody>
                        </table>
                        <button class="btn btn-success float-end" [routerLink]="['/list-customers', customer?._id, 'add-taste']"> ADD TASTE </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- RESERVATIONS -->

    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="card">
                    <div class="card-body text-center">
                        <span class="title"> LIST OF RESERVATIONS </span>
                        <table class="table table-sm mt-3">
                            <thead>
                                <tr>
                                    <th scope="col"> Restaurant </th>
                                    <th scope="col"> Reservation Date </th>
                                    <th scope="col"> Reservation Time </th>
                                    <th scope="col"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let reserv of customer?.listReservations">
                                    <!-- <td> {{ reserv.nameRestaurant }} </td>
                                    <td> {{ reserv.dateReservation }} </td>
                                    <td> {{ reserv.timeReservation }} </td>
                                    <td>
                                      <i [routerLink]="['/list-customers', customer?._id, reserv._id, 'edit-reservation']" class="fa-solid fa-pen-to-square text-primary"> Edit </i>
                                    </td> -->
                                </tr>
                                </tbody>
                        </table>
                        <button class="btn btn-success float-end" [routerLink]="['/list-customers', customer?._id, 'add-reservation']"> ADD RESERVATION </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DISCOUNTS -->

    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="card">
                    <div class="card-body text-center">
                        <span class="title"> LIST OF DISCOUNTS </span>
                        <table class="table table-sm mt-3">
                            <thead>
                                <tr>
                                    <th scope="col"> Restaurant </th>
                                    <th scope="col"> Amount </th>
                                    <th scope="col"> Expiration Date </th>
                                    <th scope="col"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let disc of customer?.listDiscounts">
                                    <td> {{ disc.nameRestaurant }} </td>
                                    <td> {{ disc.amount }} </td>
                                    <td> {{ disc.expirationDate }} </td>
                                    <td>
                                      <i [routerLink]="['/list-customers', customer?._id, disc._id, 'edit-discount']" class="fa-solid fa-pen-to-square text-primary"> Edit </i>
                                    </td>
                                </tr>
                                </tbody>
                        </table>
                        <button class="btn btn-success float-end" [routerLink]="['/list-customers', customer?._id, 'add-discount']"> ADD DISCOUNT </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


  </div>
    <!-- /#page-content-wrapper -->
</div>
  <!-- /#wrapper -->